projects:
  - name: Expense Tracker
    environments:
      - name: Production
        databases:
        - name: expense-tracker-db-prod
          databaseName: pjsExpensesDB0
          user: superuser
          plan: free
          region: frankfurt
          ipAllowList:
          - source: 0.0.0.0/0
            description: everywhere
          postgresMajorVersion: "17"

        services:
          - type: web
            plan: free
            name: expense-tracker-backend-prod
            runtime: python
            repo: https://github.com/jezyki-skryptowe-gr-1/pracownia-jezykow-skryptowych-gr-1
            branch: main
            autoDeployTrigger: commit
            buildCommand: make build-backend
            startCommand: make start-backend
            healthCheckPath: /health
            envVars:
              - key: PYTHON_VERSION
                value: 3.14.0
              - key: CORS_ALLOW_ALL
                value: "true"

          - type: web
            name: expense-tracker-frontend-prod
            runtime: static
            repo: https://github.com/jezyki-skryptowe-gr-1/pracownia-jezykow-skryptowych-gr-1
            branch: main
            autoDeployTrigger: commit
            buildCommand: make build-frontend
            staticPublishPath: frontend/dist
            envVars:
              - key: VITE_API_BASE_URL_PROD
                value: https://<backend-dev-host>