name: Manually deploy Backend

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: Deploy PROD
        if: github.ref == 'refs/heads/main'
        env:
          RENDER_BACKEND_HOOK: ${{ secrets.RENDER_BACKEND_PROD_HOOK }}
        run: bash tools/deploy-to-render RENDER_BACKEND_HOOK