name: Manually deploy Frontend

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      HOOK_URL:
        required: true

jobs:
  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: Deploy PROD
        run: bash tools/deploy-to-render HOOK_URL
        env:
          HOOK_URL: ${{ secrets.HOOK_URL }}
